/*General style of webpage*/
html {
  font-size: 16px;
  background-color: rgb(248, 248, 248);
  line-height: 1.4;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

/*header containers positioning*/
header {
  width: 90%;
  margin: auto;
}
.head {
  display: flex;
  justify-content: space-between;
}

/*title & statement*/
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
  color: rgb(255, 192, 0);
  line-height: 1.4;
  letter-spacing: 0.05em;
}
h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  color: rgb(255, 192, 0);
  line-height: 1.4;
}
#title {
  position: relative;
  top: 60px;
  z-index: 1;
}
.size {
  font-size: 1.6rem;
}
.statement {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.statement-text {
    text-align: center;
    opacity: 1;
}
/*profile*/
.profile {
  position: absolute;
  top: 150px;
}
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 15px solid rgb(255, 170, 0);
  background-image: url("../../resources/images/profile-picture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}
/*profile text*/
h3 {
  font-family: 'Calligraffitti', cursive;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-left: 25px;
}

/*content*/
.content {
  display: block;
}
.year {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}
/*navigation years, when click, content changes
nav {
    padding-bottom: 10px;
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
}
a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding: 0rem 3rem;
  color: black;
  text-align: center;
}
*/
/*book container and bookS container*/
.book-container {
  margin: auto;
  width: 90%;
  height: auto;
  position: relative;
  top: 90px;
}
.bookS {

}
.padding {
  padding-top: 50px;
}
.number {
  text-align: center;
  padding-bottom: 1rem;
}
.number h4 {
  font-size: 1.425rem;
}
/*Each book styling*/
.book {
  padding-left: 15px;
}

.book-picture {
  text-align: center;
}
.book-picture img {
  width: 180px;
  height: auto;
}
.current {
  border-top: 5px solid rgb(255, 170, 0);
  border-bottom: 5px solid rgb(255, 170, 0);
  border-right: 5px solid rgb(255, 170, 0);
  border-left: 5px solid rgb(255, 170, 0);
}
/*rating*/
.rating {
  padding-top: 10px;
}
.bold {
  font-weight: bold;
}
.star {
  color: rgb(255, 170, 0);
}
.grey-star {
  color: rgb(208, 206, 206);
}
.rating-box {
  background-color: rgba(255, 255, 255, 0.5);
}
.hide {
  display: none;
}
/*contact*/
.contact {
  padding-bottom: 1rem;
}
i {
  padding-right: 10px;
}
.contact h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 40px;
}
.icons {
  margin-left: 40px;
}
/*footer*/
.copyright {
  font-family:'Open Sans', sans-serif;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  text-align: right;
}
@media only screen and (min-width: 320px) and (max-width: 740px) {
  html {
    font-size: 12px;
    background-color: rgb(248, 248, 248);
    line-height: 1.4;
  }
  .head {
    display: block;
  }
  .profile {
    position: relative;
    top: -50px;
    text-align: center;
  }
  .profile-picture {
    margin: auto;
  }
  .statement {
    max-width: 325px;
    max-height: 325px;
    border-radius: 100%;
    margin-top: 50px;
    margin: auto;
    position: relative;
    top: -10px;
  }
  #title {
    position: relative;
    top: 20px;
    z-index: 1;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.8rem;
    padding-top: 15px;
    margin-left: 0px;
  }
  h4 {
    font-size: 1.3rem;
  }
  .number h4 {
    font-size: 1.9rem;
  }
  .content {
    position: relative;
    top: -8.5rem;
  }
  .year {
    padding-bottom: 3rem;
    margin-top: -1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .padding {
    padding-top: 1.2rem;
  }
  .contact {
    padding-top: 30px;
    padding-left: 25%;
  }
  .copyright {
    text-align: center;
  }
};
